body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

//Home Page

.page-container {
  width: 100vw;
  height: 100vh;
}

// Buttons

.btn-a {
  background-color: #46139f;
  color: white;

  &:hover {
    background-color: #46139f;
    color: white;
  }
}

.btn-b {
  background-color: #ff7f50;
  color: white;

  &:hover {
    background-color: #ff7f50;
    color: white;
  }
}

.btn-c {
  background-color: white;
  border: 1px solid #46139f;

  &:hover {
    background-color: white;
    border: 1px solid #46139f;
  }
}
